*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c80ff;
}

.login-container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.login-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-box h2 {
  margin-bottom: 1rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: #1da1f2;
  text-align: center;
}

.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.input-container label{
    font-size: 1rem;
    font-weight: medium;
    color: #252b4b;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1rem;
  padding: 0.75rem;
  color: #616161;
  border: 1px solid #252b4b;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.input-group::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6940c9, #1da1f2);
  transition: width 0.4s ease;
}

.input-group:focus-within::before {
  width: 100%;
}

.input-group:hover {
  border-color: #6940c9;
  box-shadow: 0 0 8px rgba(101, 0, 184, 0.2);
  transform: translateY(-2px);
}


.input-group:focus-within {
    color: #fafafa;
    border-color: #6940c9;
    box-shadow: 0 0 12px rgba(101, 0, 184, 0.7);
    transform: translateY(-2px);
}

.input-group input{
  padding: 0.4rem 0;
  resize: none;
  color: #fafafa;
  background: none;
  border: none;
  outline: none;
}
.input-group svg{
  width: 15px;
  height: 15px;
  color: #252b4b;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.options a {
  text-decoration: none;
  color: #2c80ff;
}

.login-btn {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(to right, #1b2bbb, #0a2cd8);
  color: #d1d1d1;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 3, 184, 0.3);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  animation: fadeIn 0.8s ease-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.login-btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: left 0.7s ease;
}
.login-btn:hover::before{
    left: 100%;
}

.login-btn:hover {
  background-color: #dc2626;
}

.register-text {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.register-text a {
  color: #2c80ff;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
